.demo1{
    color:white;
    font-size: 30px;
    text-align: center;
    background: #000000;
    transform:rotate(30deg);
}
.demo2{
    color:white;
    font-size: 30px;
    text-align: center;
    background: #000000;
    transform:rotate(30deg);
}
.hehei{
    color:red;
}

